{*<pre>
{print_r($post)}
</pre>
*}
<div class="post-comments">


    {include file='__feeds_post.session_image_comments.tpl'}


    <!-- post a comment -->
    {include file='__feeds_post.session_image_comment_form.tpl' _handle='post' _id= $post['session_event_image_id']}
    <!-- post a comment -->

</div>