.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.multiselect-container .input-group {
    margin: 5px;
}

.multiselect-container>li {
    padding: 0;
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700;
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700;
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer;
}

.multiselect-container>li>a {
    padding: 0;
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px;
}

.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox {
    margin: 0;
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0;
}

.answers li {
    background-color: #eee;
    border: medium none;
    margin: 3px 0 0;
    padding: 0 0 6px 36px;
}

.reply_data{
    background-color: #eee;
    left: 80px;
    margin: 25px 0 0 0;
    width: 86%!important;
}
.full_box{
    width: 100%;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

#queans_list {
    list-style: none;
    padding: 0 0 0 0;
}
#queans_list > li{
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #aaa;
}
#queans_list ul {
    list-style: none;
    display: none;
}
#queans_list ul li{
    cursor: auto;
}
.reply_box_div, .js_ajax_add_qa_answer {display: none;}

.share_session_div {
    display: none;
    float: right;
    padding: 10px;
}
.share_session_div_interest {
    display: none;
}
/*#hide_share_btn {
    cursor: pointer;
    color: red;
    float: right;
    padding-left: 5px;
}*/
.share_session_div i, .share_session_div_interest i {
    padding: 5px;
    background-color: #597BA5;
    color: #fff;
    border-radius: 4px;
    min-width: 23px;
    text-align: center;
    cursor: pointer;
}
.share_session_div i:hover, .share_session_div_interest i {
    background-color: #1a7ab9;
}

.session_attend_friends_main_li {
    min-height: 50px;
}
.session_attend_friends_main_li img {
    height: 30px!important;
    width: 30px!important;
}
.session_attend_friends_label_li {
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
}
.event_photos_div div{
    float: left;
    margin: 5px;
}